<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include viewport %>
    <% include mdl %>
    <style>
        body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .window {

        }
    </style>
</head>
<body>
<form class="window mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= title %></h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" name="mc_a">
            <label class="mdl-textfield__label" for="username">账号</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="mc_b">
            <label class="mdl-textfield__label" for="password">密码</label>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border" style="text-align: center;">
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submit">
            登录
        </button>
    </div>
</form>
<% include toast %>
<script>
    $(function () {
        $('.window').submit(function () {
            $.post('', $(this).serialize(), function (data) {
                if (data.success)
                    return window.location.reload();
                Toast(data.error);
            });
            return false;
        });
    });
</script>
</body>
</html>