<div id="toast" class="mdl-js-snackbar mdl-snackbar" style="z-index:30">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
    function Toast(m){
        document.querySelector('#toast').MaterialSnackbar.showSnackbar({message: m,timeout:3000});
    }
</script>